<h2>Ryan Wallerius' OAuth 2.0 Page</h2>

<p> This demo website is for Assignment 6 in CS 493: Cloud Application Development </p>
<p> Click the link below to begin authentication </p> 

<p>
    <a href="/authorize">Authenticate</a>
</p>